dist/
dist-storybook/
dist-stencil/
storybook-static/
www/
loader/
hydrate/

coverage/
src/tokens/generated/_transformed.json
chromatic-diagnostics.json

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.vscode/**/*
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
src/**/*.generated.*


# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
